<!DOCTYPE html>
<html lang="en">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161610484-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-161610484-1');
	</script>
	<script charset="UTF-8" src="//web.webpushs.com/js/push/c62200dcdc15895c9e84536c039167f4_1.js" async></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>#IndiaFightsCorona</title>
	<link rel="icon" type="image/x-icon" href="/covid19/favicon.png">
	<meta name="description"
		content="Money is not the only way to donate. Your small contribution can make a big difference!">
	<link rel="canonical" href="https://geexec.com/covid19/donate">
	<meta property="og:title" content="#IndiaFightsCorona">
	<meta property="og:url" content="https://geexec.com/covid19/donate">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://geexec.com/images/donate-og.png">
	<meta property="og:description"
		content="Money is not the only way to donate. Your small contribution can make a big difference!">
	<meta property="fb:app_id" content="251143779392708">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="https://geexec.com/covid19/donate">
	<meta name="twitter:title" content="#IndiaFightsCorona">
	<meta name="twitter:image" content="https://geexec.com/images/donate-og.png">
	<meta name="author" content="GEEXEC">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/about-donation.css">
	<link rel="stylesheet" href="/css/font.css">
</head>

<body>
	<%- include('fb-analytics') -%>
	<%- include('navbar') -%>

	<div class="container main">
		<div class="header">
			<h5 class="big">What is this about ?</h5>
		</div>
		<div class="container">
			<p>
				The COVID-19 pandemic marks an unprecedented time in modern history that will require the best of
				humanity to overcome. The new coronavirus has taken thousands of lives and spread to nearly every
				country in the world. Every donation to the fund announced by PM Modi (pmcares@sbi) will support
				immediate and long-term relief and recovery in vlinerable communities during one of the most challenging
				times we have collectively faced. we will donate Re. 1 on every subscription and like to our instagram
				and facebook page respectively. </p>
			<p>Donation to this fund will help stop the virus's spread and give communities on the front lines of the
				crisis the resources they need to act quickly and protect the most vlinerable.</p>

			<div class="greenbg">Donations are already helping to:</div>
			<p>
				<ul style="line-height: 23px;text-align: justify;text-justify: inter-word; padding-left: 18px;">
					<li style="margin-bottom: 12px;">Send doctors, nurses, and other front line responders to
						communities in need</li>
					<li style="margin-bottom: 12px;">Masks, and other lifesaving medical supplies to
						hospitals and clinics</li style="margin-bottom: 12px;">
					<li style="margin-bottom: 12px;">Deliver essential items to struggling families and older
						individuals in
						quarantined cities and
						refugee camps
					</li>
					<li style="margin-bottom: 12px;">Feed children that rely on school meals as their only source of
						nutrition</li>
					<li style="margin-bottom: 12px;">Support hygiene awareness efforts</li>
					<li style="margin-bottom: 12px;">And much, much more... your small contribution can save many life.
					</li>
				</ul>
				<span class="hashtag text-center">
					<center>#IndiaFightsCorona #IndiaGives</center>
				</span>
		</div>

		<div class="container sec">
			<div class="bluebg">Want to donate more ?</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 img text-center">
						<div class="heading-pay text-center">UPI Details :</div>
						<img src="http://geexec.com/images/PMCARES-BHIM-UPI.jpeg" />
					</div>
					<div class="col-sm-12 col-md-6 payment">
						<div class="heading-pay text-center">Bank Details :</div>
						<p>
							Name of the Account : PM CARES<br>
							Account Number : 2121PM20202<br>
							IFSC Code : SBIN0000691<br>
							SWIFT Code : SBININBB104 <br>
							Name of Bank & Branch : State Bank of India, New Delhi Main Branch<br>
							UPI ID : pmcares@sbi<br>
							Following modes of payments are available on the website pmindia.gov.in -<br>
							<ul>
								<li>Debit Cards and Credit Cards</li>
								<li>Internet Banking</li>
								<li>UPI (BHIM, PhonePe, Amazon Pay, Google Pay, PayTM, Mobikwik, etc.)</li>
								<li>RTGS/NEFT</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Scripts -->
	<footer class="footer" style="display:block; position: fixed; bottom: 0; width: 100%; height: 45px; z-index: 100">
		<div class="d-flex justify-content-between" style="margin-top: 0px !important;">
			<div>
				<span>Created by <a href="https://geexec.com">Geexec.com</a></span>
			</div>
			<div>
				<nav class="nav">
					<a href="mailto:covid19@geexec.com" class="nav-link">Spot an Error?</a>
				</nav>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<!-- <script src="https://www.jsdelivr.com/package/npm/chart.min.js?path=dist"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/owlcarousel/owl.carousel.min.js"></script>
	<script src="/js/navbar.js"></script>

	</div>
	<!-- /#page-content-wrapper IMPORTANT -->

	</div>
	<!-- /#wrapper IMPORTANT -->

</body>

</html>