<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>
    <%- include('fb-analytics') -%>
    <%- include('navbar') -%>
    <!-- Scripts -->
    <%- include('footer') -%>

    <div class="container main">
        <div class="about-sec gole center">
            <h3>Our Gole</h3>
            <p>
                Our goal is to aware more and more people about the current scenario of the country, so that we can
                save ourselves as well as our nearest ones. We want everyone to be able to see the current scenario.
                through this initiative we want to help everyone stay updated about COVID-19 outbreak in India.
            </p>
        </div>

        <div class="about-sec media center">
            <h3>Media Partners</h3>
            <div class="media-images">
                <a href="https://instagram.com/indian_robotics_community">
                    <img target="_blank" src="/images/irc-1.png" alt="">
                </a>

                <a href="https://instagram.com/indian_robotics_community">
                    <img class="irc-2" src="/images/irc-2.png" alt="">
                </a>
            </div>
        </div>

        <div class="about-sec declaimer center">
            <!-- <h3>Declaimer</h3> -->
            <p>Declaimer: This data changes rapidly, so what’s shown may be out of date. Data available on the website
                may not always be accurate. Information about reported cases is also available on the <a target="_blank"
                    href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports">World
                    Health Organization site</a>.
                <br>

            </p>
        </div>
    </div>


    </div>
    <!-- /#page-content-wrapper IMPORTANT -->

    </div>
    <!-- /#wrapper IMPORTANT -->

</body>

</html>