<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>

    <%- include('navbar') -%>

    <div class="container main">

        <div class="section mb-5">
            <div class="pg-title">
                <p class="paginator semibold">INSIGHTS</p>
                <h4 class="mdi mdi-alien">
                    COVID-19 Virus Outbreak in India
                </h4>
            </div>

            <div class="container">
                <div class="row row-xs">
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Total Cases</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count mr-1">324</h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU
                                    </p>
                                </div>
                                <div id="placeholder"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">In Hospital</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count hospital mr-1">295</h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Recovered</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count recover mr-1">24</h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2">
                        <div class="card insight smooth-transition">
                            <div class="card-body">
                                <h6 class="title uppercase bold fs-11 gx-color-2">Deaths</h6>
                                <div class="data display-flex display-xl-flex display-lg-block">
                                    <h3 class="count death mr-1">6</h3>
                                    <p class="info fs-11 gx-color-3 mb-0">
                                        <span class="tx-medium color-danger">
                                            16 <i class="icon ion-md-arrow-up"></i>
                                        </span> in ICU
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mb-5">
            <div class="pg-title">
                <h4 class="mdi mdi-newspaper">
                    Latest Updates
                </h4>
            </div>
            <div class="info slider">
                <div class="owl-carousel">
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://www.ndtv.com/india-news/coronavirus-pandemic-live-updates-millions-in-self-quarantine-in-indias-fight-against-covid-19-pm-ap-2198662"
                                data-ga="covid_cards_secondary|How to Self Quarantine?|" target="_blank" frmappuse="1">
                                <img class="bg" alt="How to Self Quarantine?"
                                    src="https://c.ndtvimg.com/2020-03/8nc5tvjs_coronavirus-india-afp_650x400_21_March_20.jpg">
                                <div class="overlay-block h-100 w-100 smooth-transition">
                                    <h5>NDTV</h5>
                                    <h3 class="bold">Railways Cancels All Trains</h3 class="bold">
                                    <p>know more <span></span></p>
                                </div>
                                <h5>NDTV</h5>
                                <h3 class="bold">Railways Cancels All Trains</h3 class="bold">
                                <p>know more <span></span></p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://economictimes.indiatimes.com/news/politics-and-nation/coronavirus-cases-in-india-live-news-latest-updates-march22/liveblog/74754630.cms"
                                target="_blank">
                                <img class="bg" alt="Coronavirus Death Toll raises to 7"
                                    src="https://img.etimg.com/thumb/msid-74754630,width-294,resizemode-4,imgsize-951082/coronavirus-cases-in-india-live-news-latest-updates-march22.jpg">
                                <div class="overlay-block h-100 w-100 smooth-transition">
                                    <h5>The Economic Times</h5>
                                    <h3 class="bold">Coronavirus Death Toll raises to 7</h3>
                                    <p>know more</p>
                                </div>
                                <h5>The Economic Times</h5>
                                <h3 class="bold">Coronavirus Death Toll raises to 7</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/covid-19-or-common-flu-how-do-i-find-out/articleshow/74503762.cms"
                                target="_blank">
                                <img class="bg" alt="Lockdown to be enforced in 75 districts"
                                    src="https://images.financialexpress.com/2020/03/curfew660-300x200.jpg">
                                <div class="overlay-block h-100 w-100 smooth-transition">
                                    <h5>Financial Express</h5>
                                    <h3 class="bold">Lockdown to be enforced in 75 districts</h3>
                                    <p>know more</p>
                                </div>
                                <h5>Financial Express</h5>
                                <h3 class="bold">Lockdown to be enforced in 75 districts</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="section mb-5">
            <div class="pg-title">
                <h4 class="mdi mdi-information">
                    Quick Tips
                </h4>
            </div>
            <div class="info slider">
                <div class="owl-carousel">
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/coronavirus-government-issues-home-quarantine-guidelines/articleshow/74582356.cms"
                                data-ga="covid_cards_secondary|How to Self Quarantine?|" target="_blank" frmappuse="1">
                                <img class="bg" alt="How to Self Quarantine?"
                                    src="https://static.toiimg.com/photo/74597970.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">How to Self Quarantine?</h3 class="bold">
                                <p>know more</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/coronavirus-dos-and-donts/articleshow/74467949.cms"
                                data-ga="covid_cards_secondary|Do's and Dont's for Covid-19|" target="_blank"
                                frmappuse="1">
                                <img class="bg" alt="Do's and Dont's for Covid-19"
                                    src="https://static.toiimg.com/photo/74597972.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">Do's and Dont's for Covid-19</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="tips-card smooth-transition">
                            <a href="https://timesofindia.indiatimes.com/india/covid-19-or-common-flu-how-do-i-find-out/articleshow/74503762.cms"
                                data-ga="covid_cards_secondary|Covid-19 or flu? How to find out?|" target="_blank"
                                frmappuse="1">
                                <img class="bg" alt="Covid-19 or flu? How to find out?"
                                    src="https://static.toiimg.com/photo/74597966.cms">
                                <h5>Times of India</h5>
                                <h3 class="bold">Covid-19 or flu? How to find out?</h3>
                                <p>know more</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <%- include('footer') -%>

</body>

</html>