<!DOCTYPE html>
<html lang="en">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161610484-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-161610484-1');
	</script>
	<script charset="UTF-8" src="//web.webpushs.com/js/push/c62200dcdc15895c9e84536c039167f4_1.js" async></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>#IndiaFightsCorona</title>
	<link rel="icon" type="image/x-icon" href="/covid19/favicon.png">
	<meta name="description"
		content="Money is not the only way to donate. Your small contribution can make a big difference!">
	<link rel="canonical" href="https://geexec.com/covid19/donation">
	<meta property="og:title" content="#IndiaFightsCorona">
	<meta property="og:url" content="https://geexec.com/covid19/donation">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://geexec.com/images/donate-og.png">
	<meta property="og:description"
		content="Money is not the only way to donate. Your small contribution can make a big difference!">
	<meta property="fb:app_id" content="251143779392708">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="https://geexec.com/covid19/donation">
	<meta name="twitter:title" content="#IndiaFightsCorona">
	<meta name="twitter:image" content="https://geexec.com/images/donate-og.png">
	<meta name="author" content="GEEXEC">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/donation.css">
	<link rel="stylesheet" href="/css/font.css">
</head>

<body>
	<%- include('fb-analytics') -%>
	<%- include('navbar') -%>

	<div class="container main">
		<div class="container">
			<div class="header">
				<div class="text">
					<h4 class="pmcares">We are donating to #PMCares</h4>
					<h4 class="big">Your Subscription is your donation</h4>
					<div class="small">We donate &#8377 1 , for every new follower</div>
					<h5 class="hashtag_list">#IndiaFightsCorona #IndiaGives </h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div style="margin: auto; width: fit-content;">
					<img style="width: 100%; max-width: 670px;" src="/images/donation-step-1.png" alt="">
				</div>
			</div>
			<div class="col-12">
				<div style="margin: 40px auto 10px; width: fit-content;">
					<img style="width: 100%; max-width: 670px;" src="/images/donation-step-2.png" alt="">
				</div>
			</div>
			<div class="col-12">
				<div style="margin: 40px auto 10px; width: fit-content; max-width: 670px; position: relative;">
					<!-- <img style="width: 100%; max-width: 670px;" src="/images/donation-step-3-overlay.png" alt=""> -->
					<img style="width: 100%; max-width: 670px; background-repeat: no-repeat; background-position: right; background-position: center center;
   						background-size: contain; background-image: url('/images/donation-step-3.gif');"
						src="/images/donation-step-3-overlay.png" alt="">
					<img style="width: 100%; max-width: 670px;" src="/images/donation-step-3-text.png" alt="">
				</div>
			</div>
			<div class="donate-now">
				<p>What are you waiting for?</p>
				<div class="donate-parent smooth-transition">
					<a class="donate-btn smooth-transition" href="/covid19/donate">Subscribe Now</a>
				</div>
				<div style="margin: 10px auto 70px;">
					<a class="know-it" href="/covid19/donation/about">Know More</a>
				</div>
			</div>
		</div>

		<!-- <div style="position: relative; margin: 80px auto 10px">
			<div class="g-recaptcha" data-sitekey="6LdC7-QUAAAAAPbdZO4wyPtPfM9p9VJ66AD0hFOA" data-callback="onSubmit"
				data-size="invisible">
			</div>
		</div>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

		<!-- <div class="container">
			<p>
				The COVID-19 pandemic marks an unprecedented time in modern history that will require the best of
				humanity to overcome. The new coronavirus has taken thousands of lives and spread to nearly every
				country in the world. Every donation to the fund announced by PM Modi (pmcares@sbi) will support
				immediate and long-term relief and recovery in vlinerable communities during one of the most challenging
				times we have collectively faced. we will donate Rupeee 1 on every follow and like to our
				instagram and facebook page respectively. </p>
			<p>Donation to this fund will help stop the virus's spread and give communities on the front lines of the
				crisis the resources they need to act quickly and protect the most vlinerable.</p>

			<p>
				<h5>Donations are already helping to:</h5></br>
				<ul>
					<li>Send doctors, nurses, and other front line responders to communities in need</li>
					<li>Get masks, ventilators, and other lifesaving medical supplies to hospitals and clinics</li>
					<li>Deliver essential items to struggling families and older individuals in quarantined cities and
					</li>
					<li>refugee camps</li>
					<li>Feed children that rely on school meals as their only source of nutrition</li>
					<li>Support hygiene awareness efforts</li>
					<li>And much, much more... your small contribution can save many life.
					</li>
				</ul>
				<p>Its time to serve our
					nation.
				</p><span class="hashtag text-center">
					<center>#wemakeIThappen</center>
				</span>
			</p>
		</div> -->
		<!-- <div class="container">
			<div class="step">Step 1</div>
			<div class="row negative">
				<div class="col-md-12 text-center">
					<h3>Like us !</h3>
				</div>

				<div class="col text-center">
					<button class="custom-btn btn-3"><span>Instagram</span></button>
				</div>
				<div class="col text-center">
					<button class="custom-btnf btn-3f"><span>Facebook</span></button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="step">Step 2</div>
			<div class="row negative">
				<div class="col-md-12 text-center">
					<h3>Subscribe ! (Optional)</h3>
				</div>
				<div class="container s">
					<div class="outer-form">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with
									anyone else.</small>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div> -->
	</div>

	<footer class="footer" style="display:block; position: fixed; bottom: 0; width: 100%; height: 45px; z-index: 100">
		<div class="d-flex justify-content-between" style="margin-top: 0px !important;">
			<div>
				<span>Created by <a href="https://geexec.com">Geexec.com</a></span>
			</div>
			<div>
				<nav class="nav">
					<a href="mailto:covid19@geexec.com" class="nav-link">Spot an Error?</a>
				</nav>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> -->
	<!-- <script src="https://www.jsdelivr.com/package/npm/chart.min.js?path=dist"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/owlcarousel/owl.carousel.min.js"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/donation.js"></script>

	</div>
	<!-- /#page-content-wrapper IMPORTANT -->

	</div>
	<!-- /#wrapper IMPORTANT -->

</body>

</html>