<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>
  <%- include('fb-analytics') -%>
  <%- include('navbar') -%>

  <div class="container main">
    <div class="text-center pt-3">
      <h4></h4>
    </div>

    <div class="container">
      <h4> Disclaimer for geexec </h4>
      <p>If you require any more information or have any questions about our site's disclaimer, please feel free to
        contact us by email at covid19@geexec.com
      </p>
      <h4>Disclaimers for www.geexec.com</h4>
      <p>All the information on this website - www.geexec.com - is published in good faith and for general information
        purpose only. www.geexec.com does not make any warranties about the completeness, reliability and accuracy of
        this information. Any action you take upon the information you find on this website (www.geexec.com), is
        strictly at your own risk. www.geexec.com will not be liable for any losses and/or damages in connection with
        the use of our website.

        From our website, you can visit other websites by following hyperlinks to such external sites. While we strive
        to provide only quality links to useful and ethical websites, we have no control over the content and nature of
        these sites. These links to other websites do not imply a recommendation for all the content found on these
        sites. Site owners and content may change without notice and may occur before we have the opportunity to remove
        a link which may have gone 'bad'.

        Please be also aware that when you leave our website, other sites may have different privacy policies and terms
        which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their
        "Terms of Service" before engaging in any business or uploading any information.
      </p>
      <p>The information regarding the health and society is not made in intention to offend anyone in the form of
        race/caste/creed or personally .</p>
      <p>All the suggestion / health tips provided in this website should be followed at their own will/right , the
        website/owner/domain is not responsible to any of the consequences , the same information is curated from
        trusted source such as WHO , Media , Press .</p>
      <h4>Consent</h4>
      <p>By using our website, you hereby consent to our disclaimer and agree to its terms.
      </p>
      <h4>Update</h4>
      <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.
      </p>
    </div>
  </div>

  <!-- Scripts -->
  <%- include('footer') -%>

  </div>
  <!-- /#page-content-wrapper IMPORTANT -->

  </div>
  <!-- /#wrapper IMPORTANT -->

</body>

</html>