<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>
  <%- include('fb-analytics') -%>
  <%- include('navbar') -%>

  <div class="container main">
    <div class="text-center pt-3">
      <h4>Frequently Asked Questions</h4>
    </div>

    <div class=" pt-3">
      <div class="wrapper center-block">
        <div class="panel-group snj-panel" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
                  <b>How is one tested for Covid-19?</b>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                The test for coronavirus does not involve any blood examination. Coronavirus test includes examining of
                the throat swab or the nasal swab to check for infection. After taking samples, doctors posted at nodal
                hospitals may assess your physical health to decide whether hospitalisation is needed. Otherwise, you
                may be asked to stay isolated at home itself. If the tests are positive, you may require to remain
                quarantined for at least 14 days, till recovery.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <b>What should you do if you want to get tested for Covid-19 in India?</b>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Call Union health ministry's 24X7 helpline number: 01123978046. You can also mail your queries at
                ncov2019@gmail.com. The district surveillance officer will visit you shortly and, if chances of
                infection are high, you may be transported to a designated hospital for the test. Govt has placed
                separate ambulances for transporting suspected cases. Use of public transport isn't advised.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <b>If you get infected with COVID-19 and recover, can you get infected again?</b>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                It's not known. A few reports from China say some people had COVID-19, recovered and then fell ill
                again. It's unclear if that's a relapse, a new infection, or a case where the person never fully
                recovered in the first place. Scientists at the Fred Hutchinson Cancer Research Center in Seattle say
                the 30,000-letter genetic code of the virus changes by one letter every 15 days. It's not known how many
                of these changes would be needed for the virus to seem different enough to the immune system of someone
                who had a previous version of it for it to cause a fresh infection.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  <b>Can higher immunity prevent you from getting coronavirus?</b>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                Experts say the effects appear to depend on how robust or weakened a person's immune system is. The WHO
                and the Centre for Disease Control (CDC) have said that the two major groups of people who are more
                likely to be affected by the disease are the elderly and those with underlying medical conditions.
                People who have aged and have weak immune systems have a harder time fighting off the COVID-19
                infection. People who already have an underlying health condition like heart disease, diabetes or lung
                disease are more prone to the infection causing severe symptoms. People with these underlying problems
                have a taxed immune system and cannot fight off the infection. However, you need to take the necessary
                precautions even if you are young and healthy.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">
                  <b>Should I wear a mask?</b>
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                According to WHO, only wear a mask if you have been diagnosed with COVID-19 or looking after a patient
                of COVID-19. A disposable face mask can only be used once. If you are not ill or looking after someone
                who is ill then you are wasting a mask. Wear a mask if you are coughing or sneezing. Masks are effective
                only when used in combination with frequent hand-cleaning with alcohol-based hand rub or soap and water.
                If you wear a mask, then you must know how to use it and dispose of it properly.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Scripts -->
  <%- include('footer') -%>
  
  </div>
        <!-- /#page-content-wrapper IMPORTANT -->

    </div>
    <!-- /#wrapper IMPORTANT -->

</body>

</html>