<footer class="footer" style="display:block; position: fixed; bottom: 0; width: 100%; height: 45px; z-index: 100">
    <div class="d-flex justify-content-between" style="margin-top: 0px !important;">
        <div>
            <span>Created by <a href="https://geexec.com">Geexec.com</a></span>
        </div>
        <div>
            <nav class="nav">
                <a href="mailto:covid19@geexec.com" class="nav-link">Spot an Error?</a>
            </nav>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<!-- <script src="https://www.jsdelivr.com/package/npm/chart.min.js?path=dist"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/owlcarousel/owl.carousel.min.js"></script>
<script src="/js/<% if (page ) { %><%= page %><% } %>.js"></script>