<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COVID-19 India Information | GEEXEC</title>
    <link rel="icon" type="image/x-icon" href="https://geexec.com/covid19/favicon.png">
    <meta name="description"
        content="A collection of useful data visualisation regarding the COVID-19 virus outbreak in India.">
    <link rel="canonical" href="https://geexec.com/covid19/">
    <meta property="og:title" content="COVID-19 India Dashbaord">
    <meta property="og:url" content="https://geexec.com/covid19/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://geexec.com/og-image.png">
    <meta property="og:description"
        content="A collection of useful data visualisation regarding the COVID-19 virus outbreak in INdia.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://geexec.com/covid19/">
    <meta name="twitter:title" content="COVID-19 IN 🇮🇳 Dashboard | A Collection of Useful Data Reports.">
    <meta name="twitter:description"
        content="Sun 22nd Mar 01:06am: 432 total cases. 140 recovered. 16 in intensive care. 274 stabilised in hospitals.">
    <meta name="twitter:image" content="https://geexec.com/og-image.png">
    <meta name="author" content="GEEXEC">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/<% if (page ) { %><%= page %><% } %>.css">
    <link rel="stylesheet" href="/css/font.css">
</head>