<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161610484-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-161610484-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COVID-19 India Information | GEEXEC</title>
    <link rel="icon" type="image/x-icon" href="/covid19/favicon.png">
    <meta name="description" content="A collection of latest news and useful data regarding the COVID-19 virus outbreak in
        India.">
    <link rel="canonical" href="https://geexec.com/covid19/">
    <meta property="og:title" content="COVID-19 India Information">
    <meta property="og:url" content="https://geexec.com/covid19/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://geexec.com/covid19/og-image.png">
    <meta property="og:description"
        content="A collection of latest news and useful data regarding the COVID-19 virus outbreak in India.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://geexec.com/covid19/">
    <meta name="twitter:title" content="COVID-19 India Information | A Collection of Latest News and Useful Data.">
    <meta name="twitter:description" content="Current Live Update: <%= corona_data.totalcases %> total cases. <%= corona_data.totalrecovered %>
        recovered. <%= corona_data.totaldeaths %> deaths.
        274 stabilised in hospitals.">
    <meta name="twitter:image" content="https://geexec.com/covid19/og-image.png">
    <meta name="author" content="GEEXEC">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/<% if (page ) { %><%= page %><% } %>.css">
    <link rel="stylesheet" href="/css/font.css">
</head>