<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>
    <%- include('fb-analytics') -%>
    <%- include('navbar') -%>
    <!-- Scripts -->
    <%- include('footer') -%>

    <div class="container main">

        <h4 class="title">
            Helpline Numbers of States
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">State</th>
                    <th scope="col">Helpline No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Andhra Pradesh</td>
                    <td>08662410978</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Arunachal Pradesh</td>
                    <td>9436055743</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Assam</td>
                    <td>6913347770</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Bihar</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Chhattisgarh</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Goa</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Gujarat</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Haryana</td>
                    <td>8558893911</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Himachal Pradesh</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Jharkhand</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Karnataka</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Kerala</td>
                    <td>04712552056</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Madhya Pradesh</td>
                    <td>07552527177</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Maharashtra</td>
                    <td>02026127394</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Manipur</td>
                    <td>3852411668</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Meghalaya</td>
                    <td>108</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Mizoram</td>
                    <td>102</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Nagaland</td>
                    <td>7005539653</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Odisha</td>
                    <td>9439994859</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Punjab</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Rajasthan</td>
                    <td>01412225624</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>Sikkim</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">22</th>
                    <td>Tamil Nadu</td>
                    <td>04429510500</td>
                </tr>

                <tr>
                    <th scope="row">23</th>
                    <td>Telangana</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">24</th>
                    <td>Tripura</td>
                    <td>03812315879</td>
                </tr>
                <tr>
                    <th scope="row">25</th>
                    <td>Uttarakhand</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">26</th>
                    <td>Uttar Pradesh</td>
                    <td>18001805145</td>
                </tr>
                <tr>
                    <th scope="row">27</th>
                    <td>West Bengal</td>
                    <td>1800313444222, 03323412600</td>
                </tr>
            </tbody>
        </table>

        <h4 class="title">
            Helpline Numbers of Union Territories
        </h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Union Territory</th>
                    <th scope="col">Helpline No.</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">1</th>
                    <td>Andaman and Nicobar Islands</td>
                    <td>03192232102</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Chandigarh</td>
                    <td>9779558282</td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Dadra and Nagar Haveli and Daman & Diu</td>
                    <td>104</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Delhi</td>
                    <td>01122307145</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Jammu & Kashmir</td>
                    <td>01912520982, 0194-2440283</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Ladakh</td>
                    <td>01982256462</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Lakshadweep</td>
                    <td>104</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Puducherry</td>
                    <td>104</td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
    <!-- /#page-content-wrapper IMPORTANT -->

    </div>
    <!-- /#wrapper IMPORTANT -->

</body>

</html>