<!DOCTYPE html>
<html lang="en">

<%- include('header') -%>

<body>

    <%- include('navbar') -%>

    <div class="container main">

        <div class="pg-title">
            <p class="paginator semibold">INFORMATION</p>
            <h4>
                Health Information about COVID-19
            </h4>
        </div>

        <div class="container">
            <div class="row row-xs">
                <div class="col-sm-12 col-lg-6 mt-2">
                    <div class="card info">
                        <div class="header">
                            <h2 class="gx-headline gx-headline-4">
                                Coronavirus disease (COVID‑19)
                            </h2>
                            <p class="gx-caption">
                                Also called: 2019-nCov, 2019 Novel Coronavirus
                            </p>
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-2">
                    <div class="card insight smooth-transition">
                        <div class="card-body">
                            <h6 class="title uppercase bold fs-11 gx-color-2">Total Cases</h6>
                            <div class="data display-flex display-xl-flex display-lg-block">
                                <h3 class="count mr-1">432</h3>
                                <p class="info fs-11 gx-color-3 mb-0">
                                    <span class="tx-medium color-danger">
                                        16 <i class="icon ion-md-arrow-up"></i>
                                    </span> in ICU
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://www.jsdelivr.com/package/npm/chart.min.js?path=dist"></script>
</body>

</html>