.container.main .pg-title.title {
    display: flex;
}

.container.main .pg-title .live {
    color: #ffffff;
    background: #f00;
    position: relative;
    margin: 6px 0 0 12px;
    padding: 2px 8px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    height: fit-content;
}

.container.main .pg-title .live::after {
    content: '';
    width: 2px;
    height: 2px;
    background: #ff0a26;
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
    animation: shadow-pulse 1s infinite;
}

.state-scroll {
    position: relative;
    margin-top: 10px;
}

.state-scroll .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: -22px;
    margin-right: -22px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
}

.state-data {
    margin-left: -20px;
    margin-right: -20px;
}

.state-list {
    display: flex;
}

.state-list div {
    background: rgb(230, 76, 76);
    /* border: 1px solid #565656; */
    margin: 0 7px;
    float: left;
    border-radius: 7px;
    height: 38px;
    padding: 3px 15px;
}

.state-data span.name {
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin-right: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.state-data span.number {
    text-align: center;
    color: #fff900;
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 600;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.466)
    }

    100% {
        box-shadow: 0 0 0 25px transparent
    }
}

.card.insight {
    cursor: pointer;
}

.card.insight .title {
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.card.insight .data {
    margin-top: 20px;
    -webkit-box-align: end;
    align-items: flex-end;
}

.card.insight .data .count {
    line-height: 1.1;
    margin-bottom: 0px;
    font-size: 26px;
}

.card.insight:hover {
    z-index: 2;
    transform: scale(1.04);
    -webkit-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
}

.card.insight .count.hospital {
    color: #ed8d14;
}

.card.insight .count.recover {
    color: #14d41b;
}

.card.insight .count.death {
    color: #f11d1d;
}

.mdi-arrow-right::after {
    content: "\F0054";
}

.mdi:after,
.mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 6px;
}

.pg-title .more.news::before {
    content: "";
}

.pg-title .more.news {
    /* background: #f5f5f5; */
    padding: 6px 19px 6px 22px;
    border-radius: 22px;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
}

.pg-title .more.news:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
}

.tips-card {
    position: relative;
    margin: 0 5px;
    flex: 1;
}

.tips-card:hover {
    z-index: 2;
    transform: scale(0.94);
    -webkit-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.20);
}

.tips-card a {
    counter-increment: counter;
    padding: 12px 8px;
    display: block;
    border-radius: 4px;
    background-clip: padding-box;
}

.tips-card .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tips-card h3 {
    color: #fff;
    margin-bottom: 18px;
    margin-top: 20px;
}

.tips-card h5 {
    font-size: 10px;
    color: #ffffff9c;
}

.tips-card p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .7);
    text-transform: uppercase;
}

.tips-card .overlay-block {
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 0.5s ease;
    background-color: rgba(46, 46, 46, 0.39);
}

.info.slider {
    margin-left: -5px;
    margin-right: -5px;
}

.owl-nav {
    text-align: center;
}

.load-more {
    cursor: pointer;
    padding: 10px 18px;
    width: fit-content;
    margin: 20px auto 0;
    max-height: 44px;
    border-radius: 22px;
    background: #b400ff;
    color: #fff;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.24);
}

.load-more:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 575px) {
    .state-list div {
        height: 33px;
    }

    .container.main .pg-title.corona-count {
        margin-bottom: 0;
        /* display: block; */
    }

    .container.main .pg-title.title {
        display: block;
    }

    .container.main .pg-title .live {
        margin: 0px;
    }

    .state-data span.name {
        font-size: 14px;
    }

    .state-data span.number {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait),
screen and (min-width: 999px) {
    .tips-card h3 {
        font-size: 24px;
        line-height: 28px;
        height: 112px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .tips-card a {
        padding: 16px;
        transition: all .2s ease-out;
    }

    .tips-card .overlay-block {
        padding: 16px;
    }
}

@media screen and (max-width: 767px),
screen and (max-width: 1000px) and (orientation: landscape) {
    .tips-card h3 {
        font-size: 16px;
        line-height: 24px;
        height: 93px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}



/* Loading bar */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: scale(-0.4);
    margin-top: -28px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}