html * {
    font-family: manrope;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.gx-color-1 {
    color: #8392a5;
}

.gx-color-2 {
    color: #1b2e4b;
}

.gx-color-3 {
    color: #8392a5;
}

.row-xs {
    margin-left: -20px;
    margin-right: -20px;
}

.row-xs>div {
    padding-left: 5px;
    padding-right: 5px;
}

.bg-light {
    background-color: #ffffff !important;
}

.navbar {
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    height: 64px;
}

.navbar .navbar-brand {
    color: #fd9701;
    font-weight: 700;
}

.navbar .navbar-nav {
    width: 100%;
}

.navbar-nav .nav-link {
    transition: all 1000ms ease;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(1, 181, 15, 0.9);
    font-weight: 600;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 126, 10, 0.9);
}

@media (min-width: 992px) {
    .content-fixed {
        margin-top: 60px;
    }

    .content {
        padding: 25px;
    }
}

.smooth-transition {
    transition: all 0.5s ease;
}

.container.main {
    padding: 20px;
}

/* .container.main .section {} */

.flex-spacer {
    flex: 1 1 auto;
}

.container.main .pg-title {
    margin-bottom: 25px;
    /* display: flex; */
}

.paginator {
    color: #1c273c;
    font-size: 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.display-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.gx-caption {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.gx-headline.gx-headline-4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: initial;
    line-height: 24px;
}

.footer {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: .3px;
    padding: 15px 25px;
    background-color: #fafbfc;
    color: #637388;
    border-top: 1px solid rgba(72, 94, 144, 0.16);
    text-transform: uppercase;
    display: none;
}

.footer .nav a {
    padding: 0;
}

@media (min-width: 600px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

@media (min-width: 992px) {
    .display-lg-block {
        display: block !important;
    }
}

@media (max-width: 575px) {
    .display-lg-block {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

@media (min-width: 1200px) {
    .display-xl-flex {
        display: -webkit-box !important;
        display: flex !important;
    }
}

@media (min-width: 1440px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

/* Loading bar*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(235, 150, 23);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}



/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
   
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color:black; 
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fd9701;
	font-weight:700;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: black;
    background: white;
}

@media(min-width:768px) {
    

    #wrapper.toggled {
        padding-left: 250px;
    }

   

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media(max-width:992px) {
	
}
@media(min-width:992px) {
	.toggle1{
		display:none;
	}
}
.toggle1{
	font-size:1.6em !important;
	padding-left:10%;
}