html * {
    font-family: manrope;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.center {
    text-align: center;
}

.gx-color-1 {
    color: #8392a5;
}

.gx-color-2 {
    color: #1b2e4b;
}

.gx-color-3 {
    color: #8392a5;
}

.row-xs {
    margin-left: -20px;
    margin-right: -20px;
}

.row-xs>div {
    padding-left: 5px;
    padding-right: 5px;
}

.bg-light {
    background-color: #ffffff !important;
}


@media (min-width: 992px) {
    .content-fixed {
        margin-top: 60px;
    }

    .content {
        padding: 25px;
    }
}

.smooth-transition {
    transition: all 0.5s ease;
}

.container.main {
    padding: 20px;
}

/* .container.main .section {} */

.flex-spacer {
    flex: 1 1 auto;
}

.container.main .pg-title {
    margin-bottom: 25px;
    /* display: flex; */
}

.paginator {
    color: #1c273c;
    font-size: 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.display-flex {
    display: -webkit-box !important;
    display: flex !important;
}

.gx-caption {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.gx-headline.gx-headline-4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: initial;
    line-height: 24px;
}

.footer {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: .3px;
    padding: 15px 25px;
    background-color: #fafbfc;
    color: #637388;
    border-top: 1px solid rgba(72, 94, 144, 0.16);
    text-transform: uppercase;
    display: none;
}

.footer .nav a {
    padding: 0;
}

@media (min-width: 600px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

@media (min-width: 992px) {
    .display-lg-block {
        display: block !important;
    }
}

@media (max-width: 575px) {
    .display-lg-block {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

@media (min-width: 1200px) {
    .display-xl-flex {
        display: -webkit-box !important;
        display: flex !important;
    }
}

@media (min-width: 1440px) {
    .gx-caption {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    .gx-headline.gx-headline-4 {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: initial;
        line-height: 36px;
    }
}

/* Loading bar*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(235, 150, 23);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}